<div class="container-fluid">
  <div class="row">
    <div class="col" align="center">
      <img src="/assets/images/realtime-gaming-jackpots.jpg" alt="bugbusters">
      <div class="top-left tooSmall"><img src="/assets/images/bug.png" alt="bugbusters"></div>
      <div class="top-right tooSmall"><img src="/assets/images/bug.png" alt="bugbusters"></div>
    </div>
  </div>
</div>

<!-- <div class="container" align="center">
  <countdown units="Days | Hours | Minutes | Seconds"  end="July 21, 2018"></countdown>
</div> -->




<div *ngIf="showLoadingComponent" class="container intro">
  <div class="row">
    <div class="col" align="center">
      <h1>Loading Components, please wait</h1>
      <div class="loader"></div>
    </div>
  </div>
</div>

<div *ngIf="showLoadingPriority" class="container intro">
  <div class="row">
    <div class="col" align="center">
      <h1>Loading Priorities, please wait</h1>
      <div class="loader"></div>
    </div>
  </div>
</div>

<div *ngIf="showLoadingFilter" class="container intro">
  <div class="row">
    <div class="col" align="center">
      <h1>Loading Assignees and reporters, please wait</h1>
      <div class="loader"></div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------------------------->
<div *ngIf="showComponent" class="container jumbotron">
  <div class="row">
    <div class="col" align="center">
      <h1>Defects Per Component</h1>
      <br>
    </div>
    <div class="container" align="center">
      <div class="row">
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkcomp0}}" target="_blank">{{comp0}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalcomp0}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkcomp1}}" target="_blank">{{comp1}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalcomp1}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkcomp2}}" target="_blank">{{comp2}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalcomp2}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container" align="center">
      <div class="row">
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkcomp3}}" target="_blank">{{comp3}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalcomp3}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkcomp4}}" target="_blank">{{comp4}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalcomp4}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkcomp5}}" target="_blank">{{comp5}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalcomp5}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------------------------------------------------------------------------------------------------------------------------------->

<div *ngIf="showPriority" class="container jumbotron">
  <div class="row">
    <div class="col" align="center">
      <h1>Defects Per Priority</h1>
      <br>
    </div>
    <div class="container" align="center">
      <div class="row">
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkpri0}}" target="_blank">{{pri0}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalpri0}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkpri1}}" target="_blank">{{pri1}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalpri1}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkpri2}}" target="_blank">{{pri2}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalpri2}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------------->

<div *ngIf="showFilter" class="container jumbotron">
  <div class="row">
    <div class="col" align="center">
      <h1>Assignees and Reporters</h1>
      <br>
    </div>
    <div class="container" align="center">
      <div class="row">
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkfil0}}" target="_blank">{{fil0}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalfil0}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th><a href="{{linkfil1}}" target="_blank">{{fil1}}</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary text-center">
                <td><font size="20">{{totalfil1}}</font></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
