
.intro {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

div {
  max-width: 1400px;
}


/deep/ .countdown {
  width: 100%;
  height: 100px;
  background: white;
}
.two-dots {
  display: block;
}

.measurements {
  color: blue;
  margin-right: 5px;
  padding: 10px;
}

.divider {
font-size: 100px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

@media screen and (max-width: 1204px) {
    .tooSmall {
        display: none !important;
    }

}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
